
<div class="col-md-6 well">
	<form class="form-horizontal" name="form">

		<!-- Form Name -->
		<legend>Kfz-Versicherung - Ihr Angebot in nur 3 Schritten</legend>

		<div id="myTab" role="tabpanel">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<!-- Button -->
				<li class="active"><a name="situation" showtab
					href="#situation">1. Situation klären</a></li>
				<li><a name="tarifmerkmale" showtab
					ng-class="{disabled: !situationValid()}" href="#tarifmerkmale">2.
						Tarifmerkmale</a></li>
				<li><a name="versicherungsschutz" showtab
					ng-class="{disabled: !tarifmerkmaleValid()}"
					href="#versicherungsschutz">3. Versicherungsschutz</a></li>
				<li><a name="ergebnis" showtab
					ng-class="{disabled: !versicherungsschutzValid()}" href="#ergebnis">Ergebnis</a></li>

			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="situation">
					<fieldset>
						<!-- Multiple Radios -->
						<div class="col-md-12">
							<!-- Multiple Radios -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="fahrzeugauswahl">Was
										wollen Sie tun?</label>
									<div class="col-md-6">
										<div class="radio ">
											<label for="aktion-0"> <input ng-model="model.aktion"
												type="radio" name="aktion" id="aktion-0" value="1">Bisheriges
												Fahrzeug versichern
											</label>
										</div>
										<div class="radio ">
											<label for="aktion-1"> <input ng-model="model.aktion"
												type="radio" name="aktion" id="aktion-1" value="2">Neu
												erworbenes Fahrzeug versichern
											</label>
										</div>
									</div>
								</div>

							</div>
							<!-- Text input-->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="versicherungsbeginn">Versicherungsbeginn</label>
									<div class="col-md-6">
										<input type="date" id="versicherungsbeginn"
											ng-model="model.versicherungsbeginn" name="versicherungsbeginn"
											type="text" placeholder="" class="form-control input-md">
									</div>
								</div>

							</div>

							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="versicherungsnehmer">Versicherungsnehmer</label>
									<div class="col-md-6">
										<select id="versicherungsnehmer"
											ng-model="model.versicherungsnehmer" name="versicherungsnehmer"
											class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option ng-repeat="item in versicherungsnehmerListe"
												value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>

							</div>
							<div class="row">
								<!-- Select Basic -->
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="fahrzeugart">Fahrzeugart</label>
									<div class="col-md-6">
										<select id="fahrzeugart" ng-model="model.fahrzeugart"
											name="fahrzeugart" class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option ng-repeat="item in fahrzeugarten" value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>
							<!-- Multiple Radios -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="fahrzeugauswahl">Fahrzeugauswahl
										über</label>
									<div class="col-md-6">
										<div class="radio">
											<label for="fahrzeugauswahl-0"> <input type="radio"
												name="fahrzeugauswahl" ng-model="model.fahrzeugauswahl"
												id="fahrzeugauswahl-0" value="1" checked="checked">Fahrzeugschein
											</label>
										</div>
										<div class="radio">
											<label for="fahrzeugauswahl-1"> <input type="radio"
												name="fahrzeugauswahl" ng-model="model.fahrzeugauswahl"
												id="fahrzeugauswahl-1" value="2">Hersteller/Modell
											</label>
										</div>
									</div>
								</div>

							</div>
							<div ng-show="model.fahrzeugauswahl==1">
								<div class="row">
									<!-- Text input-->
									<div class="form-group col-md-12">
										<label class="col-md-6 control-label" for="hsn">Hersteller-Nr
											(HSN)</label>
										<div class="col-md-6">
											<input id="hsn" name="hsn" min="1000" max="9999"
												type="number" ng-model="hsn" placeholder="HSN" ng-model="hsn"
												class="form-control input-md"> <span
												class="help-block">Die 4-stellige Hersteller-Nummer
												(HSN) finden Sie in der Zulassungsbescheinigung Teil 1 bzw.
												im Fahrzeugschein.</span>
										</div>
									</div>
									<div class="col-md-6">
										<span class="error" ng-show="form.hsn.$touched && hsn==null">
											Geben Sie bitte eine gültige HSN ein</span>
									</div>
								</div>
								<!-- Text input-->
								<div class="row">
									<div class="form-group col-md-12">
										<label class="col-md-6 control-label" for="tsn">Typschlüssel-Nr.
											(TSN)</label>
										<div class="col-md-6">
											<input id="tsn" ng-model="tsn" name="tsn" type="text" placeholder="TSN"
												class="form-control input-md"> <span
												class="help-block">Die ersten 3 Stellen der
												Typschlüssel-Nummer (TSN) Ihres Fahrzeugs finden Sie in der
												Zulassungsbescheinigung Teil 1 bzw. im Fahrzeugschein.</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Select Basic -->
							<div ng-show="model.fahrzeugauswahl==2">
								<div class="row">
									<div class="form-group col-md-12">
										<label class="col-md-6 control-label" for="hersteller">Hersteller</label>
										<div class="col-md-6">
											<select id="hersteller" ng-model="model.hersteller"
												name="hersteller" class="form-control">
												<option value="" disabled selected>Bitte wählen
													Sie</option>
												<option ng-repeat="item in herstellerListe"
													value="{{item.id}}">{{item.label}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<tt>Hersteller = {{model.hersteller | json}}</tt>
										<br />
									</div>

								</div>
								<!-- Select Basic -->
								<div class="row">
									<div class="form-group col-md-12">
										<label class="col-md-6 control-label" for="modell">Modell</label>
										<div class="col-md-6">
											<select id="modell" ng-model="model.modell" name="modell"
												class="form-control">
												<option value="0" disabled selected>Bitte wählen
													Sie</option>
												<option ng-repeat="item in modelle | filter:criteriaMatch()"
													value="{{item.id}}">{{item.label}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<tt>Modell = {{model.modell| json}}</tt>
										<br />
									</div>
								</div>
								<!-- Select Basic -->
								<div class="row">
									<div class="form-group col-md-12">
										<label class="col-md-6 control-label" for="baujahr">Baujahr</label>
										<div class="col-md-6">
											<select id="baujahr" name="baujahr" ng-model="model.baujahr"
												class="form-control">
												<option value="0" disabled selected>Bitte wählen
													Sie</option>
												<option ng-repeat="item in baujahreListe" value="{{item}}">{{item}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<!-- Button -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="fahrzeugsuche"></label>
									<div class="col-md-6">
										<button id="fahrzeugsuche" name="fahrzeugsuche"
											class="btn btn-primary" ng-show="fahrzeugsucheEnabled()">Finden</button>
									</div>
								</div>
							</div>
							<!-- Select Basic -->
							<div class="row" ng-show="versicherungsnehmer=='1'">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="baujahr">Fahrzeug
										zugelassen auf</label>
									<div class="col-md-6">
										<select id="eigentuemer" name="Eigentümer"
											ng-model="model.eigentuemer" class="form-control">
											<option value="0" disabled selected>Bitte wählen
												Sie</option>
											<option ng-repeat="item in eigentuemerListe "
												value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>
							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="fahrzeugzulasssung">Fahrzeugzulassung</label>
									<div class="col-md-6">
										<input type="date" id="fahrzeugzulassung"
											ng-model="model.fahrzeugzulassung" name="fahrzeugzulassung"
											class="form-control" />
									</div>
								</div>
							</div>

						</div>
					</fieldset>
				</div>
				<div class="tab-pane fade" id="tarifmerkmale">
					<fieldset>
						<!-- Multiple Radios -->
						<div class="col-md-12">
							<!-- Text input-->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="versicherungsbeginn">Fahrzeugleistung
										pro Jahr</label>
									<div class="col-md-6">
										<input type="number" id="fahrzeugleistung"
											ng-model="model.fahrzeugleistung" name="fahrzeugleistung"
											type="text" placeholder="15000" class="form-control input-md">
									</div>
								</div>
							</div>

							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="abstellort">Überwiegend
										genutzter Abstellort</label>
									<div class="col-md-6">
										<select id="abstellort" ng-model="model.abstellort"
											name="abstellort" class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option ng-repeat="item in abstellorte" value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>

							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="nutzungsart">Nutzungsart</label>
									<div class="col-md-6">
										<select id="nutzungsart" ng-model="model.nutzungsart"
											name="nutzungsart" class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option ng-repeat="item in nutzungsarten" value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>

							<!-- Multiple Radios -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="nutzer">Wer
										fährt das Fahrzeug</label>
									<div class="col-md-6">
										<div class="col-md-12 checkbox" ng-repeat="item in nutzerListe">
											<label for="nutzer-{{item.id}}">
                                                <input id="nutzer-{{item.id}}" class="" type="checkbox"
                                                       ng-click="toggleNutzer(item.id)"
                                                       ng-checked="model.nutzer.indexOf(item.id) > -1" name="nutzer"
                                                       id="nutzer-{{item.id}}" value="{{item.label}}" />
                                                {{item.label}}
                                            </label>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<tt>Nutzer = {{model.nutzer}} | json</tt>
									<br />
								</div>
							</div>
							<!-- Text input-->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="geburtsdatum">Geburtsdatum</label>
									<div class="col-md-6">
										<input type="date" id="geburtsdatum" ng-model="model.geburtsdatum"
											name="geburtsdatum" type="text" placeholder=""
											class="form-control input-md">
									</div>
								</div>
								<div class="col-md-6"></div>
							</div>

							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="wohneigentum">Selbstgenutzes
										Wohneigentum</label>
									<div class="col-md-6">
										<select id="wohneigentum" ng-model="model.wohneigentum"
											name="wohneigentum" class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option ng-repeat="item in wohneigentumListe"
												value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>
							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="taetigkeit">Tätigkeit</label>
									<div class="col-md-6">
										<select id="taetigkeit" ng-model="model.taetigkeit"
											name="taetigkeit" class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option ng-repeat="item in taetigkeiten" value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>

							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="branche">Branche</label>
									<div class="col-md-6">
										<select id="branche" ng-model="model.branche" name="branche"
											class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option ng-repeat="item in branchen" value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="tab-pane fade" id="versicherungsschutz">
					<fieldset>
						<div class="col-md-12">

							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label"
										for="uebernahmeScheidenfreiheitsklasse">Möchten Sie
										eine Schadenfreiheitsklasse übernehmen?</label>
									<div class="col-md-6">
										<select id="uebernahmeScheidenfreiheitsklasse"
											ng-model="model.uebernahmeScheidenfreiheitsklasse"
											name="uebernahmeScheidenfreiheitsklasse" class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option
												ng-repeat="item in uebernahmenScheidenfreiheitsklasse"
												value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>
							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label"
										for="verbleibBisherigesFahrzeug">Was wird/wurde aus
										Ihrem bisherigen Fahrzeug?</label>
									<div class="col-md-6">
										<select id="verbleibBisherigesFahrzeug"
											ng-model="model.verbleibBisherigesFahrzeug"
											name="verbleibBisherigesFahrzeug" class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option ng-repeat="item in verbleibeBisherigesFahrzeug"
												value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>
							<!-- Multiple Radios -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="fuehrerschein3Jahre">Haben
										Sie länger als 3 Jahre einen Führerschein?</label>
									<div class="col-md-6">
										<div class="radio">
											<label for="fuehrerschein3Jahre-Ja"> <input
												type="radio" name="fuehrerschein3Jahre"
												ng-model="model.fuehrerschein3Jahre" id="fuehrerschein3Jahre-Ja"
												value="ja" checked="checked">Ja
											</label>
										</div>
										<div class="radio">
											<label for="fahrzeugauswahl-1"> <input type="radio"
												name="fuehrerschein3Jahre" ng-model="model.fuehrerschein3Jahre"
												id="fuehrerschein3Jahre-Nein" value="nein">Nein
											</label>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<tt>fuehrerschein3Jahre = {{model.fuehrerschein3Jahre | json}}</tt>
									<br />
								</div>
							</div>

							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="kasko">Wünschen
										Sie eine Kaskoversicherung?</label>
									<div class="col-md-6">
										<select id="kasko" ng-model="model.kasko" name="kasko"
											class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option ng-repeat="item in kaskoOptionen" value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>


							<!-- Select Basic -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="tarif">Gewünschter
										Tarif</label>
									<div class="col-md-6">
										<select id="tarif" ng-model="model.tarif" name="tarif"
											class="form-control">
											<option value="" disabled selected>Bitte wählen Sie</option>
											<option ng-repeat="item in tarife" value="{{item.id}}">{{item.label}}</option>
										</select>
									</div>
								</div>
							</div>

							<!-- Multiple Radios -->
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-6 control-label" for="nutzer">Weitere
										Optionen</label>
									<div class="col-md-6">
										<div class="checkbox" ng-repeat="item in tarifoptionen">
											<label for="tarifoption-{{item.id}}"> <input
												type="checkbox" ng-click="toggleTarifoption(item.id)"
												ng-checked="model.tarifoption.indexOf(item.id) > -1"
												name="tarifoption" id="tarifoption-{{item.id}}"
												value="{{item.label}}">{{item.label}}
											</label>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<tt>Nutzer = {{model.tarifoption}} | json</tt>
									<br />
								</div>
							</div>

						</div>
					</fieldset>
				</div>
				<div class="tab-pane fade" id="ergebnis">
					<fieldset></fieldset>
				</div>

			</div>
			<div class="row text-center">
				<div class="btn-group">
                    <button id="zurueck" name="zurück" ng-click="zurueck()"
                        ng-show="activeTab!='situation'" class="btn btn-primary">Zurück</button>

                    <button id="weiter" name="weiter" ng-show="activeTab!='ergebnis'"
                            ng-click="weiter()" ng-disabled="!weiterEnabled()"
                            class="btn btn-primary">Weiter</button>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="col-md-6">

	<div style="display: none">
		<p>
			<label class="control-label" for="name">Name</label> <input id="name"
				name="name" ng-init="name='Client'" value="Client"
				class="form-control" type="text"
				ng-enter="register()" /> <label
				class="control-label" for="peer">Peer</label> <input id="peer"
				disabled="disabled" value="Agent" class="form-control" type="text"
				ng-enter="call()">

		</p>
	</div>

	<a id="register" class="btn btn-primary" ng-disabled="registerState != REG_STATES.NOT_REGISTERED" ng-click="register()"><span
		class="glyphicon glyphicon-plus"></span> Get Help</a> <a id="call"
		class="btn btn-success" ng-disabled="registerState != REG_STATES.REGISTERED || callState != CALL_STATES.NO_CALL" ng-click="call()"><span
		class="glyphicon glyphicon-play"></span> Call</a> <a id="terminate"
		class="btn btn-danger" ng-disabled="registerState != REG_STATES.REGISTERED || callState != CALL_STATES.IN_CALL" ng-click="stop()"><span
		class="glyphicon glyphicon-stop"></span> Hangup</a>
	<div class="checkbox">
		<label> <input id="cobrowsing" type="checkbox" checked>
			Co-browsing
		</label>
	</div>

	<div id="assistence" ng-show="model.cobrowsing">
		<div id="chat">
			<label class="control-label" for="peer">Input Text</label> <input ng-disabled="registerState != REG_STATES.REGISTERED" 
				id="chatInput" ng-model="chatInput" class="form-control" type="text"
				ng-enter="chat()" />
			<textarea id="chatText" ng-disabled="true" ng-model="chatText" class="form-control"
				rows="5" id="comment"></textarea>
		</div>
		<div id="videoBig">
			<video id="videoOutput" autoplay width="640px" height="480px"
				poster="./img/NTTD_Logo.jpg"></video>
		</div>
		<div id="videoSmall" ng-show="registerState == REG_STATES.REGISTERED && callState != CALL_STATES.NO_CALL">
			<video id="videoInput" autoplay width="240px" height="180px"></video>
		</div>
	</div>

</div>
