/*
 * (C) Copyright 2014 Kurento (http://kurento.org/)
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the GNU Lesser General Public License
 * (LGPL) version 2.1 which accompanies this distribution, and is available at
 * http://www.gnu.org/licenses/lgpl-2.1.html
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 */
@CHARSET "UTF-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 40px;
}

textarea {
	resize: none;
	height: 200px;
	min-height: 200px;
	max-height: 200px;
}

ul {
	list-style-type: none;
}

video {
	width:100%;
}

#console {
	display: block;
	font-size: 10px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.navbar-inverse, footer {
	background-color: white;
	border: none;
	color: #4E88C7;
}

.navbar-inverse .navbar-brand {
	color: #4E88C7;
}

#console {
	overflow-y: auto;
	width: 100%;
	height: 175px;
}

#videoContainer {
	position: absolute;
	float: left;
}

#videoBig {
	width: 600px;
	height: 480px;
/**	top: 0; **/
/**	right: 0;**/
	z-index: 1;
}

div#videos {
    position: relative;
}

div#videoSmall {
/**	width: 240px;
position: absolute;
	top: 15px;
	left: 400px;
		height: 180px;**/

    position: absolute;
    left: 0;
    bottom: 0;
	width:25%;
	padding: 0px;
	cursor: pointer;
	z-index: 10;
}

div#videoSmall video {
    vertical-align: bottom;
}

div.dragged {
	cursor: all-scroll !important;
	border-color: blue !important;
	z-index: 10 !important;
}