@CHARSET "UTF-8";

.CodeMirror {
	line-height: 1.4;
	height: 800px;
}

.CodeMirror-linenumber.CodeMirror-gutter-elt {
	padding: 0px;
}

.disabled {
	color: transparent;
}

form, fieldset {
	padding: 20px;
}

body {
	background-color: white;
}

.ng-table {
	color: white;
	border-radius: 5px;
	background-color: #6485C1;
}

.navbar-inverse {
	background-color: #6485C1;
	border-color: #6485C1;
	border-radius: 0px;
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.btn-primary {
	background-color: #6485C1;
	border-color: #6485C1;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover
	{
	background-color: #6485C1;
	!
	important;
}

.table>tbody>tr:hover {
	background-color: green;
}

.table tr.selected {
	background-color: green;
}

.myButton {
	position: absolute;
	-moz-border-radius: 35px;
	border-radius: 35px;
	filter: alpha(opacity = 80);
	opacity: 0.8;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-moz-border-radius: 35px;
	top: 90%;
}

.myButton-left {
	margin-left: -50px;
	left: 0px;
}

.myButton-left img {
	width: 60px;
	height: 60px;
}

.myButton-left:hover {
	margin-left: 0px;
	opacity: 1.0;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
}

.myButton-right img {
	width: 60px;
	height: 60px;
}

body {
	overflow-x: hidden;
}

.myButton-right {
	margin-right: -50px;
	right: 1px;
}

.myButton-right:hover {
	margin-right: 0px;
	opacity: 1.0;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
}